{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <h2>Service Assessment</h2>
    <form action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        <div class="row">
            <div class="col-md-6"><p>{{ wizard.form.correction.label }}</p></div>
            <div class="col-md-6">{{ wizard.form.correction }}</div>
        </div>
        <div class="row">
            <div class="col-md-6"><p>{{ wizard.form.notes.label }}</p></div>
            <div class="col-md-6">{{ wizard.form.notes }}</div>
        </div>
            {% if wizard.steps.prev %}
                <div class="row">
                    <div class="col-md-1"><button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First" %}</button></div>
                    <div class="col-md-1"><button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button></div>
                    <div class="col-md-1"><input type="submit" value="{% trans "submit" %}"/></div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-1"><input type="submit" value="{% trans "submit" %}"/></div>
                </div>
            {% endif %}
    </form>
{% endblock %}