

{% extends 'base.html' %}


{% block content %}
 <div class="row">
    <div class="col-md-8"><strong>RMA Number:</strong><br>{{ service_order.rma_number }}</div>
    <div class="col-md-4"><strong>Service Date:</strong><br>{{ service_order.date }}</div>
 </div>

 <div class="row">
    <div class="col-md-12"><strong>Customer:</strong>{{ service_order.customer }}</div>
 </div>

 <div class="row">
    <div class="col-md-6">
        <address>
            <strong>Street Address:</strong><br>{{ service_order.customer.street_address }}
        </address>
    </div>
    <div class="col-md-6">
        <address>
            <strong>Billing Address:</strong><br>{{ service_order.customer.billing_address }}
        </address>
 </div>

 <div class="row">
    <div class="col-md-12">Machine: {{ service_order.machine }}</div>
 </div>

 <div class="row">
    <div class="col-md-12">Condition: {{ service_order.condition}}</div>
 </div>

 <div class="row">
    <div class="col-md-12">Correction: {{ service_order.correction }}</div>
 </div>

 <div class="row">
    <div class="col-md-12">Notes: {{ service_order.notes }}</div>
 </div>

 <div class="row">
    <div class="col-md-12">Parts:
    {% for part in service_order.parts.all %}
        {{ part }}
    {% endfor %}
    </div>
 </div>

 <div class="row">
    <div class="col-md-6">Engineer: {{ service_order.engineer }}</div>
    <div class="col-md-6">Total Charges: {{ service_order.charges }}</div>
 </div>

 <div class="row">
    <div class="col-md-6">Payment: {{ service_order.payment_category }}</div>
    <div class="col-md-6">Service: {{ service_order.service_category }}</div>
 </div>
{% endblock %}