{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <h2>Initial Info</h2>
    <form action="" method="post">{% csrf_token %}

        {{ wizard.management_form }}
            <div class="row">
                <div class="col-md-1">{{ wizard.form.engineer.label }}</div>
                <div class="col-md-5">{{ wizard.form.engineer }}</div>
                <div class="col-md-1">{{ wizard.form.rma_number.label }}</div>
                <div class="col-md-5">{{ wizard.form.rma_number }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">{{ wizard.form.date.label }}</div>
                <div class="col-md-5">{{ wizard.form.date }}</div>
                <div class="col-md-1">{{ wizard.form.customer.label }}</div>
                <div class="col-md-5">{{ wizard.form.customer }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">{{ wizard.form.machine.label }}</div>
                <div class="col-md-5">{{ wizard.form.machine }}</div>
                <div class="col-md-1">{{ wizard.form.condition.label }}</div>
                <div class="col-md-5">{{ wizard.form.condition }}</div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-10"><input type="submit" value="{% trans "submit" %}"/></div>
            </div>
    </form>

{% endblock %}