{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h2>Invoice</h2>
    <form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    
    {{ wizard.form.non_field_errors }}
    {{ wizard.form.errors }}
        <div class="row">
            <div class="col-md-2">{{ wizard.form.parts.label }}</div>
            <div class="col-md-2">{{ wizard.form.parts }}</div>
            <div class="col-md-2">
                    <button type="button" data-toggle="modal" data-remote="{% url 'add_parts_form' %}">add</button>
            </div>
            <div class="col-md-2">{{ wizard.form.purchase_order.label }}</div>
            <div class="col-md-4">{{ wizard.form.purchase_order }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ wizard.form.zone_charge.label }}</div>
            <div class="col-md-4">${{ wizard.form.zone_charge }}</div>
            <div class="col-md-2">{{ wizard.form.parts_charge.label }}</div>
            <div class="col-md-4">${{ wizard.form.parts_charge }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ wizard.form.service_category.label }}</div>
            <div class="col-md-4">{{ wizard.form.service_category }}</div>
            <div class="col-md-2">{{ wizard.form.payment_category.label }}</div>
            <div class="col-md-4">{{ wizard.form.payment_category }}</div>
        </div>
            {% if wizard.steps.prev %}
                <div class="row">
                    <div class="col-md-1">
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First" %}</button>
                    </div>
                    <div class="col-md-1">
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
                    </div>
                    <div class="col-md-1"><input type="submit" value="{% trans "submit" %}"/></div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-1"><input type="submit" value="{% trans "submit" %}"/></div>
                </div>
            {% endif %}
    </form>
{% endblock %}