

{% extends 'base.html' %}


{% block content %}

    <div class="row"><div class="col-md-4"><h2>Parts Report</h2></div></div>
    <hr>
    <div class="row"><div class="col-md-3"><p>Serial Number</p></div><div class="col-md-2">{{ part.serial_number }}</div></div>
    <div class="row"><div class="col-md-3"><p>Part Number</p></div><div class="col-md-2">{{ part.part_number }}</div></div>
    <div class="row"><div class="col-md-3"><p>Price</p></div><div class="col-md-2">${{ part.price }}</div></div>
    <div class="row"><div class="col-md-3"><p>Location </p></div><div class="col-md-2">{{ part.location }}</div></div>

{% endblock %}