{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <h2>Enter Parts Info</h2>
    <hr>
    <form action="." method="post">{% csrf_token %}
         <div class="row">
            <div class="col-md-2">{{ form.serial_number.label}}</div>
            <div class="col-md-2">{{ form.serial_number }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form.part_number.label}}</div>
            <div class="col-md-2">{{ form.part_number }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form.price.label}}</div>
            <div class="col-md-2">{{ form.price }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form.location.label}}</div>
            <div class="col-md-2">{{ form.location }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">{{ form.used.label}}</div>
            <div class="col-md-2">{{ form.used }}</div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4"><input type="submit" value="{% trans "submit" %}"/></div>
        </div>
    </form>
{% endblock %}